<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Semester Project</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <p>
            Hello. This's semester project of Ryabukin Ilya. Firstly tou need to
            <a th:href="@{/hello}">log in</a> to see DB and perform some changes in it
        </p>
    </body>
</html>